* {
	margin: 0;
	padding: 0;
}
body{
		font-family: "Microsoft YaHei",Arial, Verdana, Helvetica, sans-serif;
		font-size: 14px;
}
ul li{
	list-style: none;
}
.all{
	position: relative;
	width: 100%;
	height:auto;
}
a{
 text-decoration: none;
 transition: all 0.2s ease-in-out;
 -moz-transition: all 0.2s ease-in-out; /* Firefox 4 */
 -webkit-transition: all 0.2s ease-in-out; /* Safari 和 Chrome */
 -o-transition: all 0.2s ease-in-out; /* Opera */
}

/*顶部功能条*/
.top {
	width: 100%;
	height: 32px;
	background-color: #444;/*灰色*/
}

.top_width {
	width:52.6%;
	height: 32px;
	margin: auto;
}

.top_left {
	line-height: 32px;
	font-size: 12px;
	padding-left: 15px;
}

.top_nav,
b,
.top_phone,
.current {
	text-decoration: none;
	color: #EFEFEF;
}

/*主要内容*/
.main {
	width: 100%;
	/*z-index:-2;*/
}
/*导航*/
.menu {
	width:100%;
	height: 80px;
	background-color: #1F1F1F;/*深灰*/
	z-index: 1;
}

.menu_width {
	width: 1000px;
/*	height: 50px;*/
	background-color: #1F1F1F;
	margin: 0 auto;
	z-index: 2;
}


/*导航左侧*/

.menu_logo {
	float: left;
	width:200px;
}

.menu_logo a {
	display: block;
	text-decoration: none;
	height: 80px;
}

.menu_logo a span {
	font-size: 25px;
	color: #EFEFEF;
	margin-left: 5px;
	line-height: 80px;
	/*垂直居中*/
	padding-left: 10px;
}


/*导航-中部*/

.menu_list {
	float: left;
	width:440px ;
	margin-left: 40px;
}
.menu_list li {
	width: 110px;
	list-style: none;
	display: inline;
	float: left;
}

ul.menu_list li a {
	height: 80px;
	position: relative;
	width: 100%;
	display: block;	/*块级元素*/
	cursor: pointer;
	margin-right: 1px;
	text-align: center;
	line-height: 80px;
}
ul.menu_list li a:hover,
.middle_text a:hover {
	color: #5ab17a;
	/*border-bottom-color: #57b382;/*设置元素下边框的颜色*/*/
}

/*导航-右侧*/
.search {
	float: right;
	margin-top: 27px;
	border: 1px solid #d3d3d3;
}
.search input {
	height: 22px;
	border: none;
	border-right: 1px solid #d3d3d3;
	vertical-align: middle;
	float: left;
}
.search .btn {
	float: right;
	background-color: #fff;
	height: 22px;
	width: 22px;
	text-align: center;
}

.search img {
	vertical-align: middle;
	margin-top: -3px;
}
/*轮播图*/

.main_top {
	width: 100%;
	height: 460px;
	/*border: 3px solid #333;*/
	overflow: hidden;
	position: relative;
		background-color: rgb(178,226,226);
}

#list {
	width: 9660px;
	height: 460px;
	position: absolute;
	z-index: 1;
}

#list img {
	width: 1380px;
	height: 460px;
	float: left;
}

#buttons {
	position: absolute;
	height: 10px;
	width: 100px;
	z-index: 2;
	bottom: 20px;
 left: 50%;
 /*移动该元素宽度的一半，保持水平居中*/
 transform: translate(-50%)
}

#buttons span {
	cursor: pointer;
	float: left;
	border: 1px solid #fff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #333;
	margin-right: 5px;
}

#buttons .on {
	background: #5ab17a;
}

.arrow {
	cursor: pointer;
	display: none;
	line-height: 39px;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 6;
	top: 180px;
	background-color: RGBA(0, 0, 0, .3);
	color: #fff;
}

.arrow:hover {
	background-color: RGBA(0, 0, 0, .7);
}

#main_top:hover .arrow {
	display: block;
}

#prev {
	left: 20px;
}

#next {
	right: 20px;
}

/*echarts图*/
.main_middle {
	position: relative;
 max-width:1350px;
	height: auto;
	margin: 0 auto;
	background-color: rgb(237, 248, 251);/*设置背景为浅绿色*/
	padding: 10px 20px 20px 20px;
	line-height: 30px;
	text-indent: 2em;
	overflow: hidden;
}
/*
.middle_text {
	position: absolute;
	min-width: 400px;
	line-height: 20px;
	left: 50%;
 /*移动该元素宽度的一半，保持水平居中*
 transform: translate(-50%);
 z-index: 2;
}*/
.middle_fst{
	width: 500px;
	height: 400px;
	background-color: rgb(194,165,207);
	margin:90px 20px 20px 20px;
}
#sel_aqi_days{
	position: absolute;
	left: 50px;
	top: 70px;
}

#container1 {
		/*position: absolute;
		left: 50%;*/
 /*移动该元素宽度的一半，保持水平居中*/
/* transform: translate(-50%);*/
 margin:90px 20px 20px 20px;
float: left;
}

#container3 ,#container2{
	display: none;
	float: left;
}

#container1,
#container2,
#container3 {
	/*	margin-right: 10px;*/
	border-radius: 20px !important;
	background-color: rgb(178,226,226) !important;
	/*background: -webkit-linear-gradient(bottom,#1F1F1F,#444)!important;/*safari*/
	/*background: -o-linear-gradient(bottom,#1F1F1F,#444)!important;/*opera*/
	/*background: -moz-linear-gradient(bottom,#1F1F1F,#444)!important;/*火狐*/
	/* background: linear-gradient(bottom,#1F1F1F,#444)!important;*/
}
.foot{
	width: 100%;
	height: 245px;
	background-color: rgb(250,250,250);/*浅灰*/
	margin-top:50px;
}
.footer{
	max-width: 900px;
	height: 245px;
	margin: 0 auto;
	padding-top: 20px;
}
.footer_left,.footer_middle{
	float: left;
	line-height: 40px;
}
.footer_right{
	float: right;
	line-height: 40px;
}
.footer dl{
	margin-right: 280px;
}
.footer dt,.footer_right a{
	font-size: 16px;
	font-weight: bold;
	color: rgb(136,136,136);
}
.footer dd a,.footer_right p{
	font-size: 12px;
	color: rgb(136,136,136);
}
.footer a:hover{
	text-decoration: underline;
	color:#5ab17a ;/*绿色*/
}
.footer_right p span{
	display: inline;
	float: left;
	padding-right: 10px;
}
.footer_right p a{
	display: inline;
 float: left;
 height: 35px;
 width: 35px;
 padding-right: 5px;
} 
.footer_right_sina i{
	float: left;
	display: inline;
	width: 32px;
	height: 32px;
 background: url(../img/sina.png)   no-repeat;
 transition: all 2s;
}
.footer_right_segment i{
	float: left;
	display: inline;
	width: 32px;
	height: 32px;
 background: url(../img/segmentfault.png)  no-repeat;
 transition: all 2s;
}
.footer_right p a:hover i{
transform:rotateY(360deg);
-ms-transform:rotateY(360deg); 	/* IE 9 */
-moz-transform:rotateY(360deg); 	/* Firefox */
-webkit-transform:rotateY(360deg); /* Safari 和 Chrome */
-o-transform:rotateY(360deg); 	/* Opera */
}

/*page2*/
/*文字*/
.main_last{
 width:1350px;
 height: 460px;
	margin: 0 auto;
}
.maintop_word{
	float: left;
	max-width: 900px;
	margin-top: 130px;
 line-height: 40px;
 text-indent:2em;
}
.maintop_pic{
	width: 420px;
	float: right;
	margin-top:155px;
}
.article_title,.place_mid{
	 display:block;
		text-align: center;
}
